:root {
  --darker: #04070d;
  --lighter: #0d1117;
  --text-color: #ffffff;
}

#TabsToolbar,
tab,
.urlbar-input-container {
  background-color: var(--darker) !important;
  color: var(--text-color) !important;
}

/*.urlbarView,*/
#urlbar[aria-expanded="true"] {
  background-color: var(--lighter) !important;
}

tab[selected="true"] .tab-background,
#nav-bar-customization-target {
  background-color: var(--lighter) !important;
  color: var(--text-color) !important;
}

#nav-bar-customization-target toolbaritem:last-of-type {
  padding-inline-end: var(--toolbar-start-end-padding) !important;
}

#nav-bar-customization-target,
#urlbar-input {
  padding-inline-start: var(--toolbar-start-end-padding) !important;
}

#back-button,
#forward-button,
#page-action-buttons,
.urlbar-input-container box,
#PanelUI-button,
#unified-extensions-button {
  display: none !important;
  visibility: hidden !important;
}
